DEBUG= # usually 1 in dev and 0 in prod. You can set 0 in dev but DO NOT set 1 in prod
SECRET_KEY=
DJANGO_SUPERUSER_USERNAME=
DJANGO_SUPERUSER_EMAIL=
DJANGO_SUPERUSER_PASSWORD=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
# here get_ip will automatically add "DJANGO_ALLOWED_HOSTS" with your local IP,
# but you can specify manually several IPs separated by spaces