@font-face 
{
    font-family: "bit5x3";
    src: url("../font/bit5x3.ttf") format("truetype");  
}

@font-face 
{
    font-family: "Minecraft";
    src: url("../font/Minecraft.ttf") format("truetype");  
}