body
{
    background: linear-gradient(90deg, black, rgb(0, 0, 30), black);
    font-family: "Minecraft", sans-serif;
    color: rgb(240, 240, 240);
}

h1
{
    color: rgb(240, 240, 240);
    font-size: 5em;
    font-family: "bit5x3", sans-serif;
    text-align: center;

}

h2
{
    color: rgb(240, 240, 240);
    font-size: 2em;
    font-family: "Minecraft", sans-serif;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;

}