{% extends "base.html" %}
{% load static %}

{% block extraCSS %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/boards.css' %}">
{% endblock %}

{% block content %}
<div class="navbar">
    <ul class="nav-list">
        <li><button class="nav-button">Salon</button></li>
        <li><button class="nav-button">Tournoi</button></li>
        <li><button class="nav-button active">Carrière</button></li>
    </ul>
</div>
<div class="separator"></div>
<div class="boards-container">
    {% include 'dashboard.html' %}
    {% include 'history.html' %}
</div>
{% endblock %}