{% load static %}

{% block extraCSS %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/history.css' %}">
{% endblock %}

{%block content%}
    <div class="history-container">
        <select class="board-mode" name="choices" id="choices">
            <option>All</option>
            <option>Unranked</option>
            <option>Ranked</option>
            <option>Tournament</option>
        </select>
        <h2 class="title">History board</h2>
        <div class="categories">
            <div>RESULT</div>
            <div>MODE</div>
            <div>TEAM</div>
            <div>SCORE</div>
            <div>ENEMY TEAM</div>
            <div>COMBO</div>
        </div>
        <div class="match-list">
            <div class="match">
                <div class="result" style="color: rgba(1, 255, 1, 0.744)">Victory</div>
                <div class="game-mode">Solo</div>
                <div class="user-team">Team Blue</div>
                <div class="score">4 - 2</div>
                <div class="enemy-team">Team Bird</div>
                <div class="paddle-combo">5</div>
            </div>
            <div class="match">
                <div class="result" style="color: rgba(255, 0, 0, 0.696)">Defeat</div>
                <div class="game-mode">Ranked</div>
                <div class="user-team">Team Rangers</div>
                <div class="score">0 - 2</div>
                <div class="enemy-team">Team Power</div>
                <div class="paddle-combo">23</div>
            </div>
            <div class="match">
                <div class="result" style="color: rgba(255, 0, 0, 0.696)">Defeat</div>
                <div class="game-mode">Ranked</div>
                <div class="user-team">Team Vegeta</div>
                <div class="score">1 - 6</div>
                <div class="enemy-team">Team Kakarot</div>
                <div class="paddle-combo">2</div>
            </div>
            <div class="match">
                <div class="result" style="color: rgba(1, 255, 1, 0.744)">Victory</div>
                <div class="game-mode">Solo</div>
                <div class="user-team">Team Shadow</div>
                <div class="score">3 - 1</div>
                <div class="enemy-team">Team Blaze</div>
                <div class="paddle-combo">8</div>
            </div>
            <div class="match">
                <div class="result" style="color: rgba(255, 0, 0, 0.696)">Defeat</div>
                <div class="game-mode">Ranked</div>
                <div class="user-team">Team Titans</div>
                <div class="score">2 - 5</div>
                <div class="enemy-team">Team Thunder</div>
                <div class="paddle-combo">15</div>
            </div>
            <div class="match">
                <div class="result" style="color: rgba(1, 255, 1, 0.744)">Victory</div>
                <div class="game-mode">Unranked</div>
                <div class="user-team">Team Phoenix</div>
                <div class="score">4 - 3</div>
                <div class="enemy-team">Team Kraken</div>
                <div class="paddle-combo">10</div>
            </div>
            <div class="match">
                <div class="result" style="color: rgba(255, 0, 0, 0.696)">Defeat</div>
                <div class="game-mode">Ranked</div>
                <div class="user-team">Team Wolfpack</div>
                <div class="score">1 - 4</div>
                <div class="enemy-team">Team Cyclone</div>
                <div class="paddle-combo">12</div>
            </div>
            <div class="match">
                <div class="result" style="color: rgba(1, 255, 1, 0.744)">Victory</div>
                <div class="game-mode">Solo</div>
                <div class="user-team">Team Legends</div>
                <div class="score">5 - 0</div>
                <div class="enemy-team">Team Inferno</div>
                <div class="paddle-combo">7</div>
            </div>
            <div class="match">
                <div class="result" style="color: rgba(255, 0, 0, 0.696)">Defeat</div>
                <div class="game-mode">Ranked</div>
                <div class="user-team">Team Mavericks</div>
                <div class="score">3 - 6</div>
                <div class="enemy-team">Team Blaze</div>
                <div class="paddle-combo">20</div>
            </div>
            <div class="match">
                <div class="result" style="color: rgba(1, 255, 1, 0.744)">Victory</div>
                <div class="game-mode">Unranked</div>
                <div class="user-team">Team Wolves</div>
                <div class="score">2 - 0</div>
                <div class="enemy-team">Team Raptors</div>
                <div class="paddle-combo">5</div>
            </div>
            <div class="match">
                <div class="result" style="color: rgba(1, 255, 1, 0.744)">Victory</div>
                <div class="game-mode">Ranked</div>
                <div class="user-team">Team Hydra</div>
                <div class="score">6 - 4</div>
                <div class="enemy-team">Team Venom</div>
                <div class="paddle-combo">30</div>
            </div>
            <div class="match">
                <div class="result" style="color: rgba(255, 0, 0, 0.696)">Defeat</div>
                <div class="game-mode">Solo</div>
                <div class="user-team">Team Phoenix</div>
                <div class="score">1 - 5</div>
                <div class="enemy-team">Team Titan</div>
                <div class="paddle-combo">4</div>
            </div>
            <div class="match">
                <div class="result" style="color: rgba(1, 255, 1, 0.744)">Victory</div>
                <div class="game-mode">Ranked</div>
                <div class="user-team">Team Storm</div>
                <div class="score">3 - 2</div>
                <div class="enemy-team">Team Avalanche</div>
                <div class="paddle-combo">16</div>
            </div>
        </div>
    </div>
{% endblock %}