{% extends "base.html" %}
{% load static %}

{% block extraCSS %}
    <style>
        :root {
            --background-image: url('{% static "matchmaker/media/lobby_background.jpg" %}');
        }
    </style>
	<link rel="stylesheet" type="text/css" href="{% static 'matchmaker/css/base.css' %}?v={{ timestamp }}">
{% endblock %}

{% block content %}
<div class="lobby-container">
    <!-- Menu de navigation tout en haut -->
    <div class="navbar">
        <ul class="nav-list">
            <li><a href="{% url 'lobby-home' %}" id="button-lobby" class="nav-button{% if request.resolver_match.url_name == 'lobby' %} active{% endif %}">Salon</a></li>
            <li><a href="" class="nav-button">Tournoi</a></li>
            <li><a href="{% url 'boards' %}" id="button-carreer" class="nav-button{% if request.resolver_match.url_name == 'boards' %} active{% endif %}">Carrière</a></li>
        </ul>
    </div>
    <div class="separator"></div>

    <div class="lobby-body">
        {% block lobbyBody %}{% endblock %}
    </div>
</div>
{% endblock %}