/* --------------------- */
/*       DASHBOARD       */
/* --------------------- */

.dashboard-container {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 85%;
    background-color: #111dc021;
    border: 0.1px solid #ffffff;
    border-top: none;
}

.user-info, .statistics, .charts, .streak {
    width: 90%;
    margin: 5%;
    margin-top: 0%;
}

.user-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 5%;
    background-color: rgb(0, 0, 30);
    border: 3px solid #ffffff86;
}

.statistics {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
}

.charts {
    display: flex;
    justify-content: end;
    gap: 5%;
    height: 100%;
    padding: 2%;
}

.streak {
    background-color: rgb(0, 0, 30);
    text-align: center;
    border: 3px solid #ffffff86;
}

/* ------------------- */
/*      USER-INFO      */
/* ------------------- */

.username {
    margin: 0 auto;
    font-family: 'Arial', sans-serif;
}

.rank-bar {
    position: relative;
    text-align: center;
    background-color: rgb(0, 0, 30);
    color: white;
    border: 2px solid #ffffff86;
    width: 80%;
    margin: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    height: 28px;
}

.rank {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    z-index: 2;
    color: rgb(198, 206, 38);
}

.rank-level {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ffffff5e;
    height: 100%;
    width: 37.33%;
}

/* --------------------- */
/*         STATS         */
/* --------------------- */

.stats-display {
    width: 90%;
    height: 90%;
    margin: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(0, 0, 30);
    color: white;
    border: 3px solid #ffffff86;
}

.stat-name {
    font-size: 12px;
}

.stat-number {
    font-weight: bold;
    font-size: 24px;
}

/* ---------------- */
/*      CHARTS      */
/* ---------------- */

.chart-one, .chart-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 30);
    border: 3px solid #ffffff86;
}

.chart-one {
    width: 70%;
}

.chart-two {
    width: 25%;
}

.bar-level {
    width: 50%;
    height: 100%;
    margin-right: 5%;
    background-color: #ffffff;
    border-radius: 5px;
}

.pie-chart {
    width: 70%;
    height: 70%;
    border-radius: 50%;
    background: conic-gradient(
        rgba(1, 255, 1, 0.536) 0% calc(70%), 
        rgba(255, 0, 0, 0.536) calc(70%) 100%
    );
    margin: 5%;
}

.slice-win {
}

.slice-lost {
}