.banner
{

}

.tob
{
	width: 50%;
	aspect-ratio: 2 / 1;

	display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "tobImg tobTxt"
}

.tobImg
{
	grid-area: tobImg;
}

.tobTxt
{
	grid-area: tobTxt;
}