@import url("aboutAnime.css");

.banner
{

}

.teaImg
{
	grid-area: tobImg;
}

.teaTxt
{
	grid-area: tobTxt;
}

.tea
{
	animation: animateTob 15s linear infinite;

	display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "tobImg tobTxt"
}

.sheilImg
{
	grid-area: sheilImg;
}

.sheilTxt
{
	grid-area: sheilTxt;
}

.sheil
{
	animation: animateSheil 15s linear infinite;

	display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "sheilImg sheilTxt"
}

.valorantImg
{
	grid-area: valorantImg;
}

.valorantTxt
{
	grid-area: valorantTxt;
}

.valorant
{
	animation: animateValorant 15s linear infinite;

	display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "valorantImg valorantTxt"
}