{% extends "base.html" %}
{% load static %}

{% block extraCSS %}
  <link rel="stylesheet" type="text/css" href="{% static 'pong/css/play.css' %}">
{% endblock %}

{% block content %}
  <h1 class="gaming-title">Choisir le mode de jeu</h1>
  <div class="form-container">
    <form method="post">
      {% csrf_token %}
      <div class="form-group">
        {{ form.mode.label_tag }}
        {{ form.mode }}
      </div>
      <div class="form-group" id="connect-group" style="display: none;">
        {{ form.connect.label_tag }}
        {{ form.connect }}
      </div>
      <div class="form-group">
        {{ form.mm.label_tag }}
        {{ form.mm }}
      </div>
      <button type="submit">Valider</button>
    </form>
  </div>
{% endblock %}

{% block extraJS %}
  <script type="module" src="{% static 'pong/js/play.js' %}"></script>
{% endblock %}
