<!-- {% load static %}

{% block extraCSS %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">
{% endblock %} -->

<!-- {% block content %} -->
<div class="dashboard-container">
    <div class="user-info">
        <h2 class="username">{{ user.username }}</h2>
        <div class="rank-bar">
            <div class="rank">Gold IV</div>
            <div class="rank-level"></div>
        </div>
    </div>
    <div class="statistics">
        <div class="stats-display">
            <h6 class="stat-name">Games played</h6>
            <div class="stat-number">{{ stats.total_games_played }}</div>
        </div>
        <div class="stats-display">
            <h6 class="stat-name">Games won</h6>
            <div class="stat-number">{{ stats.games_won }}</div>

        </div>
        <div class="stats-display">
            <h6 class="stat-name">Games lost</h6>
            <div class="stat-number">{{ stats.games_lost }}</div>
        </div>
    </div>
    <div class="streak">🔥 {{ stats.win_streak }} Wins</div>
    <button class="display">Display more
        <p class="ku">く</p></button>
    {% comment "Needs a button to display this" %}
    <div class="charts">
        <div class="chart-one">
            <div class="pie-chart">
                <div class="slice-win"></div>
                <div class="slice-lost"></div>
            </div>
            <div>Win Loss Ratio</div>
        </div>
        <div class="chart-two">
            <div class="bar-level" style="height: 70%;"></div>
            <div>Average score</div>
        </div>
    </div>
    {% endcomment %}
</div>
<!-- {% endblock %} -->