{% load static %}

{% block extraCSS %}
	<link rel="stylesheet" type="text/css" href="{% static 'boards/css/history.css' %}">
{% endblock %}

{%block content%}
    <div class="history-container">
        <div class="match-list">
            <div class="categories">
                <div>RESULT</div>
                <div>MODE</div>
                <div>SCORE</div>
                <div>DATE</div>
            </div>
            {% for match in stats.history %}
            {% if match.result == "Victory" %}
            <tr class="match" style="background-color: rgba(20, 244, 136, 0.1)">
                <td class="result" style="color: rgba(1, 255, 1, 0.744)">Victory</td>
                {% elif match.result == "Defeat" %}
                <tr class="match" style="background-color: rgba(244, 20, 20, 0.1)">
                    <td class="result" style="color: rgba(255, 0, 0, 0.696)">Defeat</td>
                    {% endif %}
                        <td class="game-mode">{{ match.mode }}</td>
                        <td class="score">{{ match.team1_score }} - {{ match.team2_score }}</td>
                        <td class="date-time">{{ match.date|date:"d-m-Y" }}</td>
                    </tr>
                    {% empty %}
                    <div>
                        <div class="no-match">No matches available</div>
                    </div>
                {% endfor %}
            {% comment "Needs a history example to test it out" %}
            <div class="match" style="background-color: rgba(20, 244, 136, 0.1)">
                <div class="result" style="color: rgba(1, 255, 1, 0.744)">Victory</div>
                <div class="game-mode">Solo</div>
                <div class="score">4 - 2</div>
                <div class="date-time">29/11/2024</div>
            </div>
            <div class="match" style="background-color: rgba(244, 20, 20, 0.1)">
                <div class="result" style="color: rgba(255, 0, 0, 0.696)">Defeat</div>
                <div class="game-mode">Ranked</div>
                <div class="score">0 - 2</div>
                <div class="date-time">03/10/2024</div>
            </div>
            {% endcomment %}
        </div>
    </div>
{% endblock %}