/* -------------------- */
/*         BOARD        */
/* -------------------- */

.board-mode {
    display: flex;
    margin: 0 auto;
    text-align: center;
    width: 384px;
    height: 37px;
    background-color: rgb(1, 1, 17);
    color: white;
    border: 2px solid #ffffff86;
    border-top: none;
}

.board-mode:focus {
    outline: none;
}

.boards-container {
    display: grid;
    gap: 3%;
    padding: 3%;
    padding-bottom: 0;
}

@media (min-width: 800px) {
    .boards-container {
        grid-template-columns: 3fr 7fr;
    }
}