/* -------------------- */
/*         BOARD        */
/* -------------------- */

.boards-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin: 2em;
}

.board-mode {
    display: flex;
    width: 7%;
    height: 3%;
    margin: 0 auto;
}