/* --------------------- */
/*       DASHBOARD       */
/* --------------------- */

.dashboard-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    text-align: center;
    height: 556px;
    gap: 5%;
}

/* --------------------- */
/*       USER INFO       */
/* --------------------- */

.user-info {
    width: 100%;
    border: 3px solid #ffffff86;
    background-color: rgb(1, 1, 17);
    padding: 3%;
}

.username {
    font-family: 'Arial', sans-serif;
    font-size: 35px;
    margin: 0;
}

.rank-bar {
    position: relative;
    background-color: rgb(1, 1, 17);
    border: 2px solid #ffffff86;
}

.rank-name {
    font-size: 15px;
    color: rgb(198, 206, 38);
}

.rank-level {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ffffff5e;
    height: 100%;
    width: calc(var(--marks-percent) * 100%);
}

/* --------------------- */
/*      STATISTICS       */
/* --------------------- */

.statistics.hidden .stat-display {
    opacity: 0;
}

.statistics {
    max-height: 100%;
    transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 52%;
    gap: 3%;
}

.statistics.hidden {
    max-height: 0;
    visibility: hidden;
    position: absolute;
}

.stat-display {
    transition: opacity 0.5s ease-out;
    height: 33%;
    padding: 5%;
    justify-content: center;
    background-color: rgb(1, 1, 17);
    color: white;
    border: 3px solid #ffffff86;
}

.stat-name, .stat-number {
    font-size: 15px;
}

.stat-number {
    font-weight: bold;
}

/* --------------------- */
/*        STREAK         */
/* --------------------- */

.streak {
    max-height: 100%;
    transition: max-height 0.5s ease-out;
    transition: opacity 0.5s ease-out;
    width: 100%;
    border: 3px solid #ffffff86;
    background-color: rgb(1, 1, 17);
}

.streak.hidden {
    opacity: 0;
    max-height: 0;
}

/* --------------------- */
/*      INFO DISPLAY     */
/* --------------------- */

.more-info {
    width: 100%;
    height: 13%;
}

.less-info {
    width: 100%;
    height: 13%;
    padding-bottom: 15%;
}

.display-button {
    width: 100%;
    height: 100%;
    background-color: #04083000;
    border: none;
}

.display-text, .display-arrow {
    color: white;
    font-size: 15px;
}

.display-arrow {
}

.overlay-info {
    opacity: 0;
    max-height: 0;
    visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
}

.overlay-info.show {
    position: relative;
    opacity: 1;
    max-height: 100%;
    visibility: visible;
    transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
}

/* --------------------- */
/*         CHARTS        */
/* --------------------- */

.charts {
    display: grid;
    grid-template-rows: 70% 30%;
    width: 100%;
    height: 77%;
    gap: 3%;
}

.chart-one, .chart-two {
    width: 100%;
    background-color: rgb(1, 1, 17);
    border: 3px solid #ffffff86;
    padding: 3%;
    overflow: hidden;
}

.chart-one {
    display: flex;
    flex-direction: column;
    gap: 3%;
}

.win-loss-ratio-title {
    font-size: 15px;
}

.win-loss-ratio-pie-chart {
    margin: 0 auto;
    height: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background: conic-gradient(
        rgb(255, 255, 255) 0% calc(var(--win-ratio) * 1%), 
        rgba(164, 156, 156, 0.205) calc(var(--win-ratio) * 1%) 100%
    );
}

.chart-two {
    display: flex;
    flex-direction: column;
    gap: 3%;
}

.avg-score-title {
    font-size: 15px;
}

.avg-score {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 80% 20%;
}

.avg-score-number {
    font-size: 30px;
}

#avg-score-graph {
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}