{% extends "base.html" %}
{% load static %}

{% block extraCSS %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">
{% endblock %}

{% block content %}
	<h1>About Us</h1>
	<div class="banner">
		<div class="valorant bg-red-500 border-8 border-red-200 rounded-3xl"> 
			<img src="{% static 'media/' %}valorant.png" class="valorantImg">
			<h2 class="valorantTxt">Hola</h2>
		</div>
		<div class="sheil bg-red-500 border-8 border-red-200 rounded-3xl"> 
			<img src="{% static 'media/' %}sheil.png" class="sheilImg">
			<h2 class="sheilTxt">Hola</h2>
		</div>
		<div class="tea bg-red-500 border-8 border-red-200 rounded-3xl"> 
			<img src="{% static 'media/' %}tea.png" class="teaImg">
			<h2 class="teaTxt">Hola</h2>
		</div>
	</div>
{% endblock %}