{% extends "base.html" %}
{% load static %}

{% block extraCSS %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
	<h1>Ft_Transcendance</h1>
	<h2>Ce projet consiste à créer un site web pour participer à une compétition du célèbre jeu Pong !</h2>
	<div class="button">
		<a href="{% url 'play' %}" class="play">Play</a>
		<a href="{% url 'rules' %}" class="rules">Rules</a>
		<a href="{% url 'about' %}" class="about">About us</a>
	</div>	
{% endblock %}