{% extends "base.html" %}
{% load static %}

{% block content %}
	<h1>Pong</h1>
	<p id="status">Connecting...</p>
	<p id="message"></p>
	<script> var game_id = "{{ game_id }}"; </script>
	<script type="module" src="{% static 'pong/js/ws.js' %}"></script>
{% endblock %}

{% block extraJS %}
	<script type="importmap">
	{
		"imports": {
			"three": "https://cdn.jsdelivr.net/npm/three@0.166.1/build/three.module.js",
			"three/addons/": "https://cdn.jsdelivr.net/npm/three@0.166.1/examples/jsm/"
		}
	}
	</script>
	<script type="module" src="{% static 'pong/js/main.js' %}"><meta name="csrf-token" content="{% csrf_token %}"></meta></script>
{% endblock %}